.background    { background-color: #ADD9FE;
                 table-layout: fixed;
                 border-spacing: 0;   }
.background td { padding: 0;          }
.lava          { background: #F6CDE6; }
.wall          { background: #DDF9D9; }

.actor  { position: absolute;  }
.coin   { background: #FDFD96; }
.player { background: #F5FFFA; }
.berry  { background: #B19CD9;}

.game {
  overflow: hidden;
  max-width: 600px;
  max-height: 450px;
  position: relative;
}
